<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-list *ngIf="originHandlingAgentSheet">
    <ion-item>
      <ion-label> Container operating </ion-label>
      <ion-checkbox
        formControlName="isContainerOperating"
        slot="end"
      ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-input formControlName="sealNumber" label="Seal number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="displayTemp"
        label="Display temperature C°"
        placeholder="C°"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Container damaged </ion-label>
      <ion-checkbox
        formControlName="isContainerDamaged"
        slot="end"
      ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="batteryStatusInPercent"
        label="Battery Status"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Alarm / alert displayed</ion-label>
      <ion-checkbox formControlName="isAlert" slot="end"></ion-checkbox>
    </ion-item>

    <ion-item [class.radioDisabled]="!canEdit">
      <ion-label>Blue light turns on</ion-label>
      <ion-radio-group
        formControlName="isBlueLightOn"
        [allowEmptySelection]="false"
        value="0"
      >
        <ion-radio [disabled]="!canEdit" value="0">Y</ion-radio><br />
        <ion-radio [disabled]="!canEdit" value="1">N</ion-radio><br />
        <ion-radio [disabled]="!canEdit" value="2">N/A</ion-radio><br />
      </ion-radio-group>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="alertDisplayed"
        label="Alarm / alert displayed"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="setTempOnDisplay"
        label="Set Temp on display"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Adapter (5 pieces)</ion-label>
      <ion-checkbox
        formControlName="is5AdaptersPresents"
        slot="end"
      ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-input formControlName="date" label="Date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="time" label="Time"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="name" label="Name"></ion-input>
    </ion-item>

    <!--ion-item>
      <ion-input formControlName="signature" label="Signature"></ion-input>
    </ion-item-->
  </ion-list>

  <ion-button [disabled]="!canEdit" expand="block" type="submit">
    <ng-container *ngIf="!isSubmitting; else loading"> Submit </ng-container>
  </ion-button>
</form>

<ng-template #loading>
  <ion-spinner></ion-spinner>
</ng-template>
