################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OneRecord.Api.SDK/bin/Debug/net7.0
/src/.vs/HackathonDoha
/src/OneRecord.Api.SDK/obj
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.assets.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.GeneratedMSBuildEditorConfig.editorconfig
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.assets.cache
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.csproj.AssemblyReference.cache
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.assets.cache
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.GeneratedMSBuildEditorConfig.editorconfig
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.assets.cache
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.assets.cache
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.GeneratedMSBuildEditorConfig.editorconfig
/src/NeOne.Dataseeder/bin/Debug/net8.0
/src/.vs/ProjectEvaluation
/src/NeOne.Dataseeder/obj/Debug/net8.0/ref
/src/NeOne.Dataseeder/obj/Debug/net8.0/refint
/src/NeOne.Dataseeder/obj/Debug/net8.0/apphost.exe
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.AssemblyInfo.cs
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.AssemblyInfoInputs.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.AssemblyReference.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.BuildWithSkipAnalyzers
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.CopyComplete
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.CoreCompileInputs.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.FileListAbsolute.txt
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.dll
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.genruntimeconfig.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.pdb
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.sourcelink.json
/src/NeOne.Dataseeder/obj/NeOne.Dataseeder.csproj.nuget.dgspec.json
/src/NeOne.Dataseeder/obj/NeOne.Dataseeder.csproj.nuget.g.targets
/src/NeOne.Dataseeder/obj/project.assets.json
/src/NeOne.Dataseeder/obj/project.nuget.cache
