################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OneRecord.Api.SDK/bin/Debug/net7.0
/src/.vs/HackathonDoha
/src/OneRecord.Api.SDK/obj
