################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OneRecord.Api.SDK/bin/Debug/net7.0
/src/.vs/HackathonDoha
/src/OneRecord.Api.SDK/obj
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.assets.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.GeneratedMSBuildEditorConfig.editorconfig
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.assets.cache
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.csproj.AssemblyReference.cache
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.assets.cache
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.GeneratedMSBuildEditorConfig.editorconfig
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.assets.cache
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.assets.cache
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.GeneratedMSBuildEditorConfig.editorconfig
/src/NeOne.Dataseeder/bin/Debug/net8.0
/src/.vs/ProjectEvaluation
/src/NeOne.Dataseeder/obj/Debug/net8.0/ref
/src/NeOne.Dataseeder/obj/Debug/net8.0/refint
/src/NeOne.Dataseeder/obj/Debug/net8.0/apphost.exe
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.AssemblyInfo.cs
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.AssemblyInfoInputs.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.AssemblyReference.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.BuildWithSkipAnalyzers
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.CopyComplete
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.CoreCompileInputs.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.csproj.FileListAbsolute.txt
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.dll
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.genruntimeconfig.cache
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.pdb
/src/NeOne.Dataseeder/obj/Debug/net8.0/NeOne.Dataseeder.sourcelink.json
/src/NeOne.Dataseeder/obj/NeOne.Dataseeder.csproj.nuget.dgspec.json
/src/NeOne.Dataseeder/obj/NeOne.Dataseeder.csproj.nuget.g.targets
/src/NeOne.Dataseeder/obj/project.assets.json
/src/NeOne.Dataseeder/obj/project.nuget.cache
/src/OneCheck.Api/bin/Debug/net8.0
/src/NeOne.Dataseeder/obj/Release/net8.0
/.vs
/src/Neone.ServiceClient/bin/Debug/net8.0
/src/Neone.ServiceClient/obj
/src/OneCheck.Api/obj/Release/net8.0
/src/OneCheck.Api/obj/Debug/net8.0/ref
/src/OneCheck.Api/obj/Debug/net8.0/refint
/src/OneCheck.Api/obj/Debug/net8.0/staticwebassets
/src/OneCheck.Api/obj/Debug/net8.0/apphost.exe
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.AssemblyInfo.cs
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.AssemblyInfoInputs.cache
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.csproj.BuildWithSkipAnalyzers
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.csproj.CopyComplete
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.csproj.CoreCompileInputs.cache
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.csproj.FileListAbsolute.txt
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.dll
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.genruntimeconfig.cache
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.MvcApplicationPartsAssemblyInfo.cache
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.MvcApplicationPartsAssemblyInfo.cs
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.pdb
/src/OneCheck.Api/obj/Debug/net8.0/OneCheck.Api.sourcelink.json
/src/OneCheck.Api/obj/Debug/net8.0/staticwebassets.build.json
/src/OneCheck.Application/bin/Debug/net8.0
/src/OneCheck.Application/obj/Debug/net8.0/refint
/src/OneCheck.Application/obj/Debug/net8.0/ref
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.AssemblyInfo.cs
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.AssemblyInfoInputs.cache
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.csproj.AssemblyReference.cache
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.csproj.CopyComplete
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.csproj.CoreCompileInputs.cache
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.csproj.FileListAbsolute.txt
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.dll
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.pdb
/src/OneCheck.Application/obj/Debug/net8.0/OneCheck.Application.sourcelink.json
/src/OneCheck.Application/obj/Release/net8.0
/src/OneCheck.Application/obj/OneCheck.Application.csproj.nuget.dgspec.json
/src/OneCheck.Application/obj/OneCheck.Application.csproj.nuget.g.props
/src/OneCheck.Application/obj/project.assets.json
/src/OneCheck.Application/obj/project.nuget.cache
/src/OneCheck.Domain/bin/Debug/net8.0
/src/OneCheck.Domain/obj/Debug/net8.0/ref
/src/OneCheck.Domain/obj/Debug/net8.0/refint
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.AssemblyInfo.cs
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.AssemblyInfoInputs.cache
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.csproj.CoreCompileInputs.cache
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.csproj.FileListAbsolute.txt
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.dll
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.pdb
/src/OneCheck.Domain/obj/Debug/net8.0/OneCheck.Domain.sourcelink.json
/src/OneCheck.Domain/obj/Release/net8.0
/src/OneCheck.Domain/obj/OneCheck.Domain.csproj.nuget.dgspec.json
/src/OneCheck.Domain/obj/OneCheck.Domain.csproj.nuget.g.props
/src/OneCheck.Domain/obj/project.assets.json
/src/OneCheck.Domain/obj/project.nuget.cache
/src/OneCheck.Repository/bin/Debug/net8.0
/src/OneCheck.Repository/obj/Debug/net8.0/ref
/src/OneCheck.Repository/obj/Debug/net8.0/refint
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.AssemblyInfo.cs
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.AssemblyInfoInputs.cache
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.csproj.AssemblyReference.cache
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.csproj.CopyComplete
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.csproj.CoreCompileInputs.cache
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.csproj.FileListAbsolute.txt
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.dll
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.pdb
/src/OneCheck.Repository/obj/Debug/net8.0/OneCheck.Repository.sourcelink.json
/src/OneCheck.Repository/obj/Release/net8.0
/src/OneCheck.Repository/obj/OneCheck.Repository.csproj.nuget.dgspec.json
/src/OneCheck.Repository/obj/OneCheck.Repository.csproj.nuget.g.props
/src/OneCheck.Repository/obj/project.assets.json
/src/OneCheck.Repository/obj/project.nuget.cache
/src/OneCheck.Api/obj/OneCheck.Api.csproj.nuget.dgspec.json
/src/OneCheck.Api/obj/OneCheck.Api.csproj.nuget.g.props
/src/OneCheck.Api/obj/project.assets.json
/src/OneCheck.Api/obj/project.nuget.cache
/src/NeOne.Dataseeder/obj/NeOne.Dataseeder.csproj.nuget.g.props
