<ng-container
  *ngIf="
{
  role: userRole$ | async,
  user: user$ | async,
  isLoggedIn: userLoggedIn$ | async
} as observables
"
>
  <ion-header>
    <ion-toolbar>
      <ion-img
        class="logo"
        slot="start"
        src="assets/logo/SWC_rgb.png"
      ></ion-img>
      <ion-title *ngIf="observables.user && observables.role">
        {{ observables.user.name + ' | ' + observables?.role }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ng-container *ngIf="!observables.isLoggedIn">
      <!-- todo: login text -->
    </ng-container>

    <div class="center-content">
      <ion-img class="app-logo" src="assets/logo/OneCheck Logo.svg"></ion-img>
    </div>
  </ion-content>

  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ng-container *ngIf="observables.isLoggedIn; else loginMask">
            <ng-container *ngIf="observables.role; else selectRole">
              <ion-button expand="block" (click)="scan()">
                <ng-container *ngIf="!scannnerLoading; else loading">
                  Scan
                </ng-container>
              </ion-button>
            </ng-container>
          </ng-container>
        </ion-col>
      </ion-row>

      <!-- test API call -->
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="testAPI()">
            Test API Call
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>

  <ng-template #loginMask>
    <!-- todo footer design -->
    <app-login-mask></app-login-mask>
  </ng-template>

  <ng-template #selectRole>
    <app-select-role> </app-select-role>
  </ng-template>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>
</ng-container>
