<ion-header>
  <ion-toolbar>
    <ion-title>Dummy Checksheet</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [value]="activeSegment" (ionChange)="changeSegment($event)">
    <ion-segment-button value="export">
      <ion-label>Export</ion-label>
    </ion-segment-button>
    <ion-segment-button value="transit">
      <ion-label>Transit</ion-label>
    </ion-segment-button>
    <ion-segment-button value="import">
      <ion-label>Import</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Export -->
  <ion-accordion-group *ngIf="activeSegment === 'export'">
    todo: check if finished
    <!-- Origin Handling Agent Sheet-->
    <ion-accordion *ngIf="checksheet?.originHandlingAgentSheet" value="first">
      <ion-item slot="header" color="light">
        <ion-label>Origin Handling Agent Sheet</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-origin-handling-agent-sheet
          [originHandlingAgentSheet]="checksheet?.originHandlingAgentSheet"
        ></app-origin-handling-agent-sheet>
      </div>
    </ion-accordion>

    <!-- Inbound Transit Sheets -->
    <ion-accordion *ngIf="checksheet?.preparationSheet" value="second">
      <ion-item slot="header" color="light">
        <ion-label
          >Loading and preparation by shipper / issuing agent</ion-label
        >
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-preparation-sheet
          [preparationSheet]="checksheet?.preparationSheet"
        ></app-preparation-sheet>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- Transit -->
  <ion-accordion-group *ngIf="activeSegment === 'transit'">
    <!-- Transit Sheets -->
    <ng-container *ngIf="checksheet?.transitSheets">
      <!--ion-accordion
        [value]="transitChecks.inboundTransitSheetModel?.checkSheetId"
        *ngFor="let transitChecks of checksheet?.transitSheets"
      >
        <ion-item slot="header" color="light">
          <ion-label>{{
            "Inbound Transit " + transitChecks.inboundTransitSheetModel?.checkSheetId
          }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-inbound-transit-sheet
            [inboundTransitCheckSheet]="transitChecks[0].inboundTransitCheckSheet"
          ></app-inbound-transit-sheet>
        </div>
      </ion-accordion-->

      <!-- todo müde -> loop durch alle transits -> pro iteration gibt es in und out -> akkordion pro sheet  -->

      <ng-container *ngFor="let checks of checksheet?.transitSheets">
        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-label>{{
              "Inbound Transit " +
                checks.inboundTransitSheetModel?.inboundCheckAirportCode
            }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-inbound-transit-sheet
              [inboundTransitCheckSheet]="checks.inboundTransitSheetModel"
            ></app-inbound-transit-sheet>
          </div>
        </ion-accordion>

        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-label>{{
              "Outbound Transit " +
                checks.outboundTransitSheetModel?.outboundCheckAirportCode
            }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">todo outbounf</div>
        </ion-accordion>
      </ng-container>
    </ng-container>
  </ion-accordion-group>

  <!-- Import -->
  <ion-accordion-group *ngIf="activeSegment === 'import'">
    <!-- Origin Handling Agent Sheet-->
    <ion-accordion
      *ngIf="checksheet?.destinationHandlingAgentSheet"
      value="first"
    >
      <ion-item slot="header" color="light">
        <ion-label>Destination Handling Agent</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-destination-handling-agent-sheet
          [destinationHandlingAgentSheet]="
            checksheet?.destinationHandlingAgentSheet
          "
        ></app-destination-handling-agent-sheet>
      </div>
    </ion-accordion>

    <!-- todo Delivery COnsignee -->
    <ion-accordion *ngIf="checksheet?.preparationSheet" value="second">
      <ion-item slot="header" color="light">
        <ion-label
          >Loading and preparation by shipper / issuing agent</ion-label
        >
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-preparation-sheet
          [preparationSheet]="checksheet?.preparationSheet"
        ></app-preparation-sheet>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
