<ion-header>
  <ion-toolbar>
    <ion-title>Dummy Checksheet</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [value]="activeSegment" (ionChange)="changeSegment($event)">
    <ion-segment-button value="export">
      <ion-label>Export</ion-label>
    </ion-segment-button>
    <ion-segment-button value="transit">
      <ion-label>Transit</ion-label>
    </ion-segment-button>
    <ion-segment-button value="import">
      <ion-label>Import</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Export for example -->
  <ng-container>
    <ion-accordion-group>
      <!-- Origin Handling Agent Sheet-->
      <ion-accordion
        *ngIf="
          activeSegment === 'export' && checksheet?.originHandlingAgentSheet
        "
        value="first"
      >
        <ion-item slot="header" color="light">
          <ion-label>Origin Handling Agent Sheet</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-origin-handling-agent-sheet
            [originHandlingAgentSheet]="checksheet?.originHandlingAgentSheet"
          ></app-origin-handling-agent-sheet>
        </div>
      </ion-accordion>

      <!-- Inbound Transit Sheets -->
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-button expand="block">Submit</ion-button>
</ion-footer>
